<% content_for :page_title do %>
  <h2><%= @patient.name %>, <%= @patient.long_gender %><%= ", #{ @patient.age } y.o." if @patient.age %></h2>
<% end %>

<%= render partial: 'progress_notes/display', locals: { progress_note: @progress_note } %>
