<% if defined? prescriptions and prescriptions %>
  <% unless prescriptions.empty? %>
    <table class="table">
      <thead>
        <tr>

        </tr>
      </thead>
      <tfoot>
        <tr>

        </tr>
      </tfoot>
      <tbody>
        <% prescriptions.each do |p| %>
          <tr>

          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="info">No prescriptions found with the current search criteria.</p>
  <% end %>
<% end %>