<% if defined? initial_evaluation and initial_evaluation %>
  <label>ID</label>
  <div><%=md initial_evaluation.id_cc %></div>

  <label>HPI (History of Present Illness)</label>
  <div><%=md initial_evaluation.hpi %></div>

  <label>Formulation</label>
  <div><%=md initial_evaluation.formulation %></div>

  <label>Recommendation / Plan</label>
  <div><%=md initial_evaluation.recommendation %></div>
<% end %>
