<% content_for :page_title do %>
  <h2>Patient List</h2>
<% end %>

<% content_for :actions do %>
  <div class="action-block">
    <%= link_to 'Add New Patient to Database', new_patient_path, class: 'med-icon-link med-patient' %>
  </div>
<% end %>

<%= render partial: 'patients/table', locals: { patients: @presenter } %>
