body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.box {
  width: 1000px;
  height: 200px;
}

.day-Occurred { fill: #267A47; }
.day-Canceled { fill: #FF0062; }
.day-Pending { fill: #31AF62; }

.calendar-week {
  overflow: hidden;
  .appt {
    display: block;
    position: absolute;
    background-color: #f00;
    z-index: 10;
    width: 12.5%;
  }
  .calendar-col {
    float: left;
    width: 12.5%;
    .calendar-cell {
      height: 20px;
      border-top: 1px solid #fff;
      h5 {
        display: block;
        margin: 0;
        padding: 0;
        font-family: 'Lintel-Light';
      }
    }
    .odd {
      border-top: 1px dotted #eee;
    }
    .even {
      border-top: 1px solid #aaa;
    }
    .calendar-header {
      border-top: 1px solid #aaa;
      h5 {
        text-align: center;
      }
    }
  }
  .col-even {
    .even, .odd {
      background-color: #eee;
    }
  }
  .calendar-header-col {
    .calendar-cell {
      h5 {
        text-align: right;
        vertical-align: middle;
        padding-right: 5px;
      }
    }
  }
}
