body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.box {
  width: 1000px;
  height: 200px;
}

.day-Occurred { fill: #267A47; }
.day-Canceled { fill: #FF0062; }
.day-Pending { fill: #31AF62; }

