
@font-face {
  font-family: 'Lintel-Light';
  src: url('webfonts/271D2C_0_0.eot');
  src: url('webfonts/271D2C_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/271D2C_0_0.woff') format('woff'),url('webfonts/271D2C_0_0.ttf') format('truetype');
}
