a.med-icon-link {

  display: block;
  padding-left: 40px;
  padding-bottom: 1px;
  line-height: 43px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 2px center;
  text-decoration: none;
  font-family: 'Lintel-Light';
  font-size: 14px;
  color: #666666;
  vertical-align: bottom;
  overflow: hidden;
  margin-bottom: 3px;
  &:hover {
    color: #333;
    text-decoration: underline;
  }
}

a.med-calendar {
  background-image: url('Calendar.png');
}

a.med-note {
  background-image: url('PatientFile.png');
}

a.med-prescription {
  background-image: url('Pills.png');
}

a.med-allergy {
  background-image: url('Vial-X.png');
}

a.med-patient {
  background-image: url('PatientFemale.png');
}

a.med-mental-status {
  background-image: url('DefinedParameters.png');
}

.bullet-icon {
  display: block;
  padding-left: 20px;
  min-height: 18px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

.title-actions {
  display: block;
  float: right;
  min-width: 90px;
  min-height: 18px;
  a.bullet-icon {
    float: right;
    padding-right: 3px;
    width: 0px;
    overflow: hidden;
    text-indent: -9000px;
  }
}

td.actions a.bullet-icon {
  float: left;
  width: 0px;
  padding-right: 3px;
  overflow: hidden;
  text-indent: -9000px;
}

.appointment-InitialEvaluation {
  @extend .bullet-icon;
  background-image: url('silk/report_add.png');
}

.appointment-Appointment {
  @extend .bullet-icon;
  background-image: url('silk/report.png');
}

.appointment-PhoneAppointment {
  @extend .bullet-icon;
  background-image: url('silk/telephone.png');
}

.appointment-PhoneCall {
  @extend .bullet-icon;
  background-image: url('silk/telephone_red.png');
}

.appointment-Consultation {
  @extend .bullet-icon;
  background-image: url('silk/user_suit.png');
}

.allergy {
  @extend .bullet-icon;
  background-image: url('silk/allergy.png');
}

.prescription-Prescribed {
  @extend .bullet-icon;
  background-image: url('silk/plus_green.png');
}
.prescription-Increased {
  @extend .bullet-icon;
  background-image: url('silk/arrow_up.png');
}

.prescription-Ceased {
  @extend .bullet-icon;
  background-image: url('silk/minus_green.png');
}
.prescription-Decreased {
  @extend .bullet-icon;
  background-image: url('silk/arrow_down.png');
}
.prescription-Continued {
  @extend .bullet-icon;
  background-image: url('silk/bullet_tick.png');
}

.prescription-Unknown {
  @extend .bullet-icon;
}

.bullet-edit {
  @extend .bullet-icon;
  background-image: url('silk/edit.png');
}

.bullet-cancel {
  @extend .bullet-icon;
  background-image: url('silk/cancel.png');
}

.bullet-uncancel {
  @extend .bullet-icon;
  background-image: url('silk/uncancel.png');
}

.bullet-appointment {
  @extend .bullet-icon;
  background-image: url('silk/calendar.png');
}

.bullet-rx {
  @extend .bullet-icon;
  background-image: url('silk/pill.png'); 
}
