body {
  background-color: #fff;
  color: #333;
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td, input[type=text], textarea, select, option {
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


#center-col {

  h4 {
    display: block;
    border-radius: 4px;
    position: relative;
  }

//  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
//  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.3));
//  filter: drop-shadow(0 1px 2px rgba(0,0,0,0.3));

  h4 {
    border: 1px solid #aaa;
    padding: 8px;
    :after, :before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    :after {
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #aaa;
      border-width: 3px;
      left: 30px;
      margin-left: -3px;
    }

    :before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: #aaa;
      border-width: 6px;
      left: 30px;
      margin-left: -6px;
    }
  }
}

h5.sep {
  margin-top: 20px;
  text-align: center;
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
